<!DOCTYPE html>
<html lang="en">
   <%- include("./partials/head.ejs") %>
  <body>
       <%- include("./partials/nav.ejs") %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        IG.Blogs is a blog site where you can create, read, update and delete
        blogs.
      </p>
      <p>This site is built using Node.js, Express and MongoDB.</p>
      <p>
        You can create a new blog by clicking on the "New Blog" link in the
        navigation bar.
      </p>
    </div>
  </body>
    <%- include('./partials/footer.ejs') %>
</html>
